body {
  background: #f7e8f0;
}

a {
  color: #feb377;
  text-decoration: none;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px;
  text-align: center;
  font: 800 40px Arial;
  -webkit-text-fill-color: #f1c6de;
  -webkit-text-stroke: 1.5px;
}

.App-footer {
  font-size: 12px;
  text-align: center;
  margin: 30px 0;
}
